<section class="productos-hero">
    <div class="productos-hero-container">
        <h1>Nuestros Productos</h1>
        <p>Explora todas nuestras categorías</p>
    </div>
</section>

<section class="categorias-menu">
    <div class="categorias-menu-container">
        <div class="categorias-menu-grid">
            <a href="vestidos.html" class="categoria-circulo">
                <div class="categoria-circulo-img">
                    <img src="/img/vestidos.jpg" alt="Vestidos">
                </div>
                <h3>Vestidos</h3>
            </a>

            <a href="camisas.html" class="categoria-circulo">
                <div class="categoria-circulo-img">
                    <img src="/img/camisas.jpg" alt="Camisas">
                </div>
                <h3>Camisas</h3>
            </a>

            <a href="pantalones.html" class="categoria-circulo">
                <div class="categoria-circulo-img">
                    <img src="/img/pantalones.jpg" alt="Pantalones">
                </div>
                <h3>Pantalones</h3>
            </a>

            <a href="zapatos.html" class="categoria-circulo">
                <div class="categoria-circulo-img">
                    <img src="/img/zapatos.jpg" alt="Zapatos">
                </div>
                <h3>Zapatos</h3>
            </a>
    </div>
</section>